@using OrderingSystem.Areas.Dashboard.Models.ViewModels;
@using OrderingSystem.Models.Enums
@model TableViewModel

@{
    ViewData["Title"] = "Update Table";
}


<h1>Update Table</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @Html.HiddenFor(model => model.TableNumber)
            <div class="form-group">
                <label asp-for="@Model.SeatingCapacity" class="control-label"></label>
                <input asp-for="@Model.SeatingCapacity" class="form-control"  />
                <span asp-validation-for="@Model.SeatingCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TableAvabilityStatus"></label>
                <select class="form form-control" asp-for="TableAvabilityStatus" asp-items="Html.GetEnumSelectList<TableAvabilityStatus>()">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>