@{
    ViewData["Title"] = "Payment Successful";
}

<div style="padding-block: 15rem;">
    <h2 style="text-align: center; color: green; font-size: 5rem;">Payment Successful</h2>
    <p style="text-align: center; color: white;">Thank you for your purchase!</p>
</div>